* { box-sizing: border-box;}
html { font-size: 32px;
font-family:'Courier New', Courier, monospace;
}
body { margin: 0;}

.container {
    width: 350px;
    height: 100vh;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lotto {
    text-align: center;
}
.numbers {
    width: 350px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex; 
    justify-content: space-around;
    align-items: center; 
}
.eachnum {
    font-size: 0.75em;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
ol{
    background-color: rgba(255, 160, 122, 0.404);
    font-size: 0.7em;
    padding: 20px 0px 20px 70px;
    align-items: center;
}
/* li {
    margin: 10px 20px 0px 20px;
} */
#historyTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clearHistory {
    width: 130px;
}
button {
    font-size: 0.5em;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: salmon;
    cursor: pointer;
    margin-top: 2em;
}

button:active {
    font-size: 0.6em;
    width: 103px;
    height: 42px;
}
